<section id="game_two_part_two" class="hidden_content">
	<div class="game-content-2 chat_wrapper">
		<h3>{{ 'OUVRIR LE DIALOGUE'|trans }}</h3>
		<div id="multi-choice-area" class="messages_wrapper">
			<div class="message_box__container">
				<div class="message_box choice_response">
					<p></p>
				</div>
			</div>

			<div class="message_box__container">
				<div class="message_box choice_response">
					<p></p>
				</div>
			</div>

			<div class="message_box__container">
				<div class="message_box choice_response">
					<p></p>
				</div>
			</div>
		</div>
		<div class="send_message_box">
			<p id="send_message_text">{{ 'Que répondrais-tu ?'|trans }}</p>
			
			<button id="send_message" class="hidden_content">{{ 'Envoyer le message'|trans }}
				<span></span>
			</button>
		</div>
	</div>
</section>
